/* Reset  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

/* Common */
.container{
    width: 85%;
    margin: auto;
    max-width: 2000px
    }

.clearfix::after {
	content: "";
	display: table;
	clear: both;
    }


/* Google font  */
body{
    font-family: 'Montserrat', sans-serif;
}


/* Header  */
header{
	margin-bottom: 20px;
    }

.logo{
    border-right: solid 1px rgba(0,0,0,0.2);
    padding-right: 20px;
    height: 100px;
}

ul{
    list-style-type: none;
    margin-top: 45px;
}

li{
    display: inline-block;
    padding-right: 15px;
}

ul a{
    text-decoration: none;
    color: rgba(0,0,0,0.5);
}

/* Main  */
.hero{
    position: relative;
    border-radius: 10px;
    height: 600px;
    margin-bottom: 20px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: 0,0;
    background-size: cover;
    overflow: hidden;
    }



.overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero > p{
    color: white;
    position: absolute;
    left: 40px;
    bottom: 120px;
    
}

.hero, .div + p {
    font-size: 40px;
    margin-bottom: 40px;
    }


.hero p:last-child {
    font-size: 20px;
    bottom: 70px;
    }

.intestazione{
        height: 100px;
    }    
    
.intestazione h1{
    font-size: 30px;
    }

.intestazione p{
    color: rgba(0,0,0,0.5);
}

.col {
	float: left;
    border-radius: 10px;
    }

.col-20 {
	width: 20%;
    }

.margin-left{
    margin-left: 10px;
}

.margin-right{
    margin-right: 10px;
}

.col-60 {
    width: calc(50% - 30px);
    margin: 0, 5px;
    }    

.no-margin{
    margin: 0;
}

.position-relative{
    height: 280px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

div h4{
    font-weight: bold;
    margin-bottom: 10px;
}
/* Footer */
footer {
    text-align: center;
	height: 30px;
    margin-top: 5px;
}

.margin-bottom30{
    margin-bottom: 30px;
}


.div, p{
    color: rgba(0,0,0,0.5);
}